.db/
.fusebox
.embark
.tern-port
.vscode/
node_modules/
frontend/dist/
build
dist
error.log
chains.json
secrets.json
.env.production
.env.local

/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

embarkArtifacts/
src/artifacts/
log.txt

__pycache__
