[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
flake8 = "*"
pylint = "*"
autopep8 = "*"
bpython = "*"

[packages]
tornado = "*"
peewee = "*"
python-dotenv = "*"
peewee-async = "*"
aiopg = "*"
web3 = "*"
logzero = "*"
pyjwt = "*"
aioredis = "*"
cerberus = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
