// REUSABLE CLASSES
/* spacing */
$space-mod-map: (
  ml: margin-left,
  mr: margin-right,
  mt: margin-top,
  mb: margin-bottom,
  m: margin,

  pl: padding-left,
  pr: padding-right,
  pt: padding-top,
  pb: padding-bottom,
  p: padding
);

@for $i from 0 through 5 {
  @each $mod, $val in $space-mod-map {
    .#{$mod}-#{$i} {
      #{$val}: #{$i}em !important;
    }
  }
}

/* text color */
$text-color-map: (
  white: $light,
  blue: $blue,
  green: $green,
  forest: $forest,
  black: $black,
  orange: $brand-color-light,
  dark: $dark-gray,
);

@each $color, $val in $text-color-map {
  .text-#{$color} {
    color: #{$val} !important;
  }
}

/* text size */
@for $i from 0 through 5 {
  .font-#{$i} {
    font-size: #{$i * 5}pt;
  }
}

/* background-color */
$bg-color-map: (
  blue: $blue,
  green: $green,
  forest: $forest,
  black: $black,
  orange: $brand-color-light,
  dark: $dark-gray,
  gray: $light-gray,
);

@each $color, $val in $bg-color-map {
  .bg-#{$color} {
    background: #{$val} !important;
  }
}


// UTILITY INDIVIDUAL CLASSES
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 800;
}

.drop-shadow {
  box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.05);
}

.border-round-top {
  border-radius: 5px 5px 0 0;
}

.border-round-bottom {
  border-radius: 0 0 5px 5px ;
}

.border-round-all {
  border-radius: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// Size
.w_100 { width: 100%; }
.h_100 { height: 100%; }
.w_auto { width: auto; }
.h_auto { height: auto; }

.s_100 {
  width: 100%;
  height: 100%;
}


// Display & Position
.inline { display: inline-block; }
.block { display: block; }
.flex { display: flex; }
.absolute { position: absolute; }
.relative { position: relative; }
