// REUSABLE CLASSES
/* spacing */
$space-mod-map: (
  ml: margin-left,
  mr: margin-right,
  mt: margin-top,
  mb: margin-bottom,
  m: margin,

  pl: padding-left,
  pr: padding-right,
  pt: padding-top,
  pb: padding-bottom,
  p: padding
);

@for $i from 1 through 5 {
  @each $mod, $val in $space-mod-map {
    .#{$mod}-#{$i} {
      #{$val}: #{$i}em;
    }
  }
}
