@import './variable';

body {
  box-sizing: border-box;
  margin: 0;
  color: $text-base-color;
}

a {
  text-decoration: none !important;
}

.stretched {
  height: 100vh;
}

.main {
  background: #f8f8fd;
}

.elevated {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.03);
}

.card {
  background: #fff;
  min-height: 500px;
  min-width: 100px;
  margin: 1em;
  border-radius: 8px;
  overflow: hidden;
}

.btn {
  border-radius: 2px;
  border: solid 1px transparent;
  background: transparent;
  color: $text-base-alert;
  font-size: 14px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background .3s;

  &:hover {
    background: $brand-color-dark;
    border-color: $brand-color-dark;
  }
}
