body {
  background-color: $light-gray5;
  box-sizing: border-box;
  margin: 0;
}

.nav--container {
  background-image: url('../static/nav-bg.jpg');
  background-position: 0px 0px;
}

.nav--heading--title {
  font-size: 1.2em !important;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF !important;
  text-shadow: 0 0 10px #FFFFFF;
  line-height: 40px;
  display: inline-block;
  vertical-align: text-bottom;
}

.nav--heading--logo {
  display: inline-block;
  width: 40px;
  height: 40px;
}
