body {
  background-color: $light-gray4;
  box-sizing: border-box;
  margin: 0;
}

.nav--container {
  box-shadow: none !important;
}

.nav--heading--title {
  font-size: 1.2em !important;
  font-weight: bold;
  text-transform: uppercase;
  color: $brand-color-dark2 !important;
  text-shadow: 0 0 10px $brand-color-dark4;
  line-height: 40px;
  display: inline-block;
  vertical-align: text-bottom;
}

.nav--heading--logo {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.container .center,
.container-full .center {
  text-align: center;
}
