.relayer-table--row {
  background: $light;
  border: solid 1px $light-gray;
  margin-top: 5px;
}

.relayer-table--head {
}

.relayer-logo {
  position: relative;
  margin: 3px 0;
  border: solid 1px $light-gray;
  padding: 1px;
  border-radius: 3px;
  transform: translateY(2px);
}
