$pt-font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;

/* Custom NavBar style */
$pt-navbar-height: 70px;
$dark-gray5: #1a1f36;

/* Tomochain branding colo */
$brand-color-light: #fbb068;
$brand-color-dark: #202741;
