// Style Header
.tomo-header {
  background: #323252;
}

// Style common
.relayer-logo {
  margin: 0 auto;
}

.success-icon {
  font-size: 40px !important;
  color: #703DB5;
  transform: translateY(10px);
  margin-right: 8px;
}
.register-form--success-info {
  letter-spacing: 1px;
  font-size: 15px;
}
.tab-menu--indicator {
  background-color: #703DB5 !important;
  height: 4px !important;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

//maincontent
.maincontent {
  min-height: calc(100vh - 65px - 65px);
  padding: 4rem 0;
}

//Style Footer
.footer-links {
  display: flex;
  margin: 0 -15px;
  align-content: center;
  a {
    color: #7473a6;
    position: relative;
    padding: 15px;
    &:before {
      background: #7473a6;
      content: '';
      width: 1px;
      height: 15px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
  }
}
.footer-buttons {
  padding-top: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  li {
    display: inline-block;
    padding: 5px;
    a {
      background: #323252;
      border-radius: 8px;
      color: #525275;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      &:hover {
        i {
          color: #fff;
        }
      }
    }
  }
}

.token-select-list {
  background: #272741;
  border-radius: 8px;
}

.relayer-config-container {
  margin-bottom: 150px;
}

.step_circle {
  padding: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;

  &__0 {
    color: white !important;
    background-color: #703DB5;
    width: 50px;
    height: 50px;
    line-height: 30px;

    &.unfulfilled {
      background-color: #272741;
    }
  }

  &__1 {
    background-color: #3B2962;
    width: 70px;
    height: 70px;

    &.unfulfilled {
      background-color: #1D1E31;
    }
  }

  &__2 {
    background-color: #201F39;
    width: 90px;
    height: 90px;

    &.unfulfilled {
      background-color: #1D1E31;
    }
  }

}

.progress-trailing {
  width: 100%;
  height: 1px;
  border-bottom: dashed 1px #504E76;
}

.register-container {
  margin-top: 50px;
  margin-bottom: 150px;
}

.text-hint {
  color: #7473A6;
}

.relayer-status {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  display: inline-block;

  &__resigning {
    background: #d60000;
    box-shadow: 0px 0px 2px 2px rgba(214,0,0,1);
  }

  &__active {
    background: #4ee61c;
    box-shadow: 0px 0px 2px 1px rgba(78,230,28,1);
  }
}
