body {
  margin: 0;
  font-size: 14px;
  color: $text-base-color;
}

body * {
  box-sizing: border-box;
  font-family: $pt-font-family;
}

a {
  text-decoration: none;
  color: initial;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: $space;
  text-align: left;

  &.container--full {
    max-width: 100vw;
  }

  &.container--center {
    text-align: center;
  }

  &.container--right {
    text-align: right;
  }
}

.btn {
  cursor: pointer;
  border: solid 1px $text-base-light;
  padding: $space;
  font-size: 14px;
  border-radius: 5px;

  &.btn--minimal {
    border: none !important;
    background: transparent;
    width: auto;
    padding: 0;
  }
}

.form-input {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px $text-base-light;
  font-size: 14px;
  color: $text-base-color;

  &.form-input--disabled {
    color: white;
    background: #ddd;
  }
}

.modal {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed !important;
  text-align: center;
}

.modal__backround {
  height: 100%;
  width: 100%;
  background: rgba(black, .7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.modal__container {
  max-width: 75vw;
  max-height: 75vh;
  background-color: black;
  margin: auto;
  margin-top: 10vh;
  overflow: scroll;
}

.modal__contained-img {
  max-width: 100%;
  max-height: 100%;
}
