// Custom font
@font-face {
  font-family: Monad;
  src: url("./font/Monad.otf");
}

@font-face {
  font-family: Myste;
  src: url("./font/Myste.otf");
}

@font-face {
  font-family: Quantify;
  src: url("./font/Quantify.ttf");
}
