.login-page {
  width: 100vw;
  height: 100vh;
  background: white;
}

.lang-select {
  width: 30px;
  border: none;
  background: transparent;
  font-size: 16px;
  text-align: left;
  appearance: none;
  cursor: pointer;
  color: $light-blue;
  &:hover {
    color: $text-base-dark;
  }
}

.lang-flag {
  width: 25px;
  border: solid 1px #ddd;
  height: 20px;
  margin-right: 8px;
}

.help-badge {
  font-size: 16px;
  color: $light-blue;
  &:hover {
    color: $text-base-dark;
  }
}

.relayer-logo {
  margin: 0 auto;
}

.register-progress--step {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: white;
  border-radius: 50%;
  border: solid 1px #aaa;
  color: #aaa;
  line-height: 40px;
  font-size: 16px;
  padding: 0 15px;

}

.register-progress--step__current {
  border-color: #1e93e8;
  background: #1e93e8;
  color: white;
}

.register-progress--step__completed {
  border-color: #1e93e8;
  background: #1e93e8;
  opacity: .75;
  i {
    transform: translate(-7px, 5px);
    font-weight: 900;
    color: white;
  }
}

.success-icon {
  font-size: 40px !important;
  color: green;
  transform: translateY(10px);
  margin-right: 8px;
}

.register-form--success-info {
  letter-spacing: 1px;
  font-size: 15px;
}

.tab-menu--indicator {
  background-color: #828282 !important;
  height: 4px !important;
}

.countdown-col {

  &-element {
    text-align: center;
    color: #555;
    border-radius: 5px;
    padding: 0px;
  }

  &-element-number {
    font-size: 20px;
    border-bottom: solid 1px #ddd;
  }

  &-element-text {
    font-size: 14px;
  }

}
