body {
  box-sizing: border-box;
  margin: 0;
  color: $text-base-color;
  letter-spacing: 1px;
}

a {
  text-decoration: none !important;
  color: initial;
}

.stretched {
  height: 100vh;
}

.main {
  background: #f8f8fd;
}

.elevated {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.03);
}

.card {
  background: #fff;
  min-height: 500px;
  min-width: 100px;
  margin: 1em;
  border-radius: 8px;
  overflow: hidden;
}

.lang-select {
  width: 30px;
  border: none;
  background: transparent;
  font-size: 16px;
  text-align: left;
  appearance: none;
  cursor: pointer;
}

.lang-flag {
  width: 25px;
  border: solid 1px #ddd;
  height: 20px;
}

.help-badge {
  color: $text-base-color;
  font-size: 15px;
  &:hover {
    color: darken($text-base-color, 20);
  }
}

.relayer-logo {
  margin: 0 auto;
}

.method-select {
  border: solid 1px $green;
  border-radius: 5px;
}

.method-select__option {
  width: 25%;
  height: 100px;
  border: solid 2px transparent;
  padding: $space;

  &.method-select__option--active {
    background: $green;
    color: white;
    border-bottom: solid 4px $dark-green;
  }
}

.method-option__title * {
  font-weight: 200;
}

.method-body {
  min-height: 300px;
}
