.stretched {
  height: 100vh;
}

.main {
  background: #f8f8fd;
}

.elevated {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.03);
}

.card {
  background: #fff;
  min-height: 500px;
  min-width: 100px;
  margin: 1em;
  border-radius: 8px;
  overflow: hidden;
}

.container.auth-container {
  max-width: 800px;
}

.container.address-list {
  max-width: 700px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px #ddd;
}

.lang-select {
  width: 30px;
  border: none;
  background: transparent;
  font-size: 16px;
  text-align: left;
  appearance: none;
  cursor: pointer;
  color: $light-blue;
  &:hover {
    color: $text-base-dark;
  }
}

.lang-flag {
  width: 25px;
  border: solid 1px #ddd;
  height: 20px;
  margin-right: 8px;
}

.help-badge {
  font-size: 16px;
  color: $light-blue;
  &:hover {
    color: $text-base-dark;
  }
}

.relayer-logo {
  margin: 0 auto;
}

.method-select {
  border: solid 1px $light-green;
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.3);
}

.method-select__option {
  width: 25%;
  height: 100px;
  border: solid 2px transparent;
  padding: $space;

  &.method-select__option--active {
    background: $green;
    border-bottom: solid 4px $dark-green;
    * {
      color: white !important;
    }
  }
}

.method-option__title * {
  font-weight: 200;
  word-wrap: break-word;
}

.method-body {
  min-height: 300px;
}

.tomowallet-method-content {
  width: 60%;
  text-align-last: left;
}

.tomowallet-method-qrcode {
  width: auto;
}

.btn-unlock {
  background: $green;
  color: white;
  border-color: transparent;

  &:hover {
    background: darken($green, 10);
  }
}

.hardware-wallet-method__path {
  text-align-last: left;
  width: 50%;

  input {
    border-color: $green;
    width: 100%;
  }

  input.form-input--disabled {
    border-color: #bbb;
    background: #ccc;
    color: white;
  }
}

.address-info {
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
  &:hover {
    background: #eee;
  }
}

.address-info__address {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address-info__balance {
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address-info__currency {
  width: auto;
}

.address-container {
  height: 100vh;
  overflow: hidden;
}

.address-container__header {
  height: auto;
  background: $dark-green;
  box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.55);
  color: white;
}

.address-container__body {
  height: 90vh;
  overflow: scroll;
  flex-wrap: nowrap;
}

.main-menu {
  margin-bottom: 2em;
  > div {
    padding: 10px 20px;
  }
}

.relayer-form-modal {
  height: auto;
}

.progress-bar--status {
  font-size: 18px !important;
  margin-left: 5px;
}

.relayer-form--container {
  background: #f7f7f7;
}

.relayer-form--progress {
  margin: 0 !important;
  padding: 20px;

  > div {
    padding-right: 0;
    padding-left: 0;
  }
}

.relayer-form--step-body {
  background: white;
  margin: 0 !important;
  padding: 20px;

  > form > div {
    padding-right: 0;
    padding-left: 0;
  }
}

.relayer-form-step-body--title {
  font-size: 18px;
  color: $text-base-light;
}

.progress-bar--text {
  color: inherit;
  &.prev-step:hover {
    color: $text-base-dark;
  }
}

.coinbase-logout:hover {
  color: map-get($text-color-map, primary);
}
