@import '$homeDir/style/variable';

.reg-form__grid {
  /* background: url('$static/org-bg.jpg');
     background-size: cover; */
}

.reg-login {
  background: inherit;
}


.reg-wizard {
  background: white;
}
