@import '$homeDir/style/variable';

$nav-bg: #efedf9;

.nav {
  background: $nav-bg;
}

.nav-header__logo > img {
  display: inline-block;
  border-radius: 2px;
  padding: 15px;
  width: 50%;
  height: 50%;
}

.nav-header__text {
  font-family: Quantify;
  color: $text-base-highlight;
  font-size: 18px;
  letter-spacing: 2px;
}

.nav-menu__list {
  list-style-type: none;
}

.nav-menu__item {
  cursor: pointer;
  border-left: solid 3px transparent;
  padding: 10px 20px 10px 2em;
}

.nav-menu__item i {
  margin-right: 7px;
}

.nav-menu__item > a {
  font-family: Quantify;
  text-transform: uppercase;
  color: $text-subtle-color;
  letter-spacing: 2px;
  font-size: 12px;
  transition: color 0.3s;
}

.nav-menu__item:hover > a {
  color: $text-base-highlight;
}

.nav-menu__item--active > a {
  color: $text-base-highlight;
}
