@import '../customize/variables.scss';
@import './classes.scss';
@import './component.scss';

body {
  background: #fff;
  box-sizing: border-box;
  margin: 0;
}

// import blueprintjs style in the end of the style so custom variables can take effects
@import '~@blueprintjs/icons/src/blueprint-icons.scss';
@import '~@blueprintjs/core/src/blueprint.scss';
@import '~@blueprintjs/core/lib/scss/variables.scss';
