@import '~@blueprintjs/icons/src/blueprint-icons.scss';
@import '~@blueprintjs/core/src/blueprint.scss';


body {
  background: #fff;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
